@page
@model RazorPageHotelApp.Pages.Hotels.DeleteHotelModel
@{
    ViewData["Title"] = "Delete";
}
<h3>Delete Hotel</h3>

<h3>Are you sure you want to delete this hotel?</h3>

<div>
    <hr/>
    <dl class="row">
        <dl class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Navn)
        </dl>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Navn)
        </dd>
        <dl class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.Adresse)
        </dl>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Adresse)
        </dd>
        <dl class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel.HotelNr)
        </dl>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hotel.HotelNr)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Hotel.HotelNr"/>
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-page="GetAllHotels">Back to List</a>
    </form>
</div>